.item {
    border-radius: 50%;
    padding: 10px;
    width: 180px;
    height: 180px;
    margin: 10px;
}

.pic {
    width: 180px;
    border-radius: 50%;
    border: solid 1px #f4f4f4;
}

.item:hover {
    box-shadow: 0 2px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
    text-decoration: none;
}

.titulo {
    font-size: 15px;
    width: 100%;
    color: red;
    overflow: hidden;
    text-align: center;
    margin-top: -90px;
    font-weight: 800;
}