.logo-barra {
    padding: 13px 0px 0px 0px;
    width: 70%;
}

.barra {
    padding-top: 12px;
}

.busqueda {
    background: #fff;
    display: flex;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin-top: 7px;
    width: 100%;
}

.busqueda:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

input {
    background-color: transparent !important;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    padding: 15px;
    -webkit-tap-highlight-color: transparent;
    width: 100% !important;


}